<ngx-ui-loader  [fgsType]="spinner" fgsSize="80" ></ngx-ui-loader>



 
<div class="container">
       
        <div id="principalimgDiv">   
         
               
            <img alt="Home Image" src="https://firebasestorage.googleapis.com/v0/b/banglite.appspot.com/o/PantalllaInicio.png?alt=media&token=59230089-5c9c-4bd5-ab9b-54b83f40e407" 
            [ngStyle]="{'width': styleproperties.width,'position':styleproperties.position,'left':styleproperties.left,'height':styleproperties.height}" 
            id="principalimg" class="el" >
            <div id='divLogin'>          
                <button id='btnLogin' class="els"  (click)="loginFn($event)" 
                 [ngStyle]="{'top': btnLoginProperties.top, 'width': btnLoginProperties.width,'left':btnLoginProperties}" > </button>
             </div>
             <div id='divRegister'>
                 <button id='btnRegister' (click)="RegisterFn($event)" 
                 [ngStyle]="{'top': btnRegisterProperties.top, 'width': btnRegisterProperties.width}" > </button>
               
             </div>
        </div>
</div>





