<ngx-ui-loader  [fgsType]="spinner" fgsSize="80" ></ngx-ui-loader>


     

  
        <div id="form">
                <img alt="Home Image" src="https://firebasestorage.googleapis.com/v0/b/banglite.appspot.com/o/fondobanco.png?alt=media&token=698468be-e5bb-4201-8f98-52c97b083976" 
                [ngStyle]="{'width': styleproperties.width,'position':styleproperties.position,'left':styleproperties.left,'height':styleproperties.height}" 
                id="principalimg" >  
                <mat-card>
                        <mat-card-title>Formulario</mat-card-title>
                    </mat-card>
                <!-- <form action="" >
                        <p>
                                <mat-form-field appearance="outline">
                                  <mat-label>Outline form field</mat-label>
                                  <input matInput placeholder="Placeholder">
                                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                  <mat-hint>Hint</mat-hint>
                                </mat-form-field>
                              </p>
                              <p>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Outline form field</mat-label>
                                      <input matInput placeholder="Placeholder">
                                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                      <mat-hint>Hint</mat-hint>
                                    </mat-form-field>
                                  </p>
                </form>  -->
        </div>            
   